.link {
    font-size: 1.55rem;
    line-height: 1.5rem;
    color: var(--azul-claro);
    font-weight: 700;
    font-family: var(--fonte-secundaria);
}

.link:hover {
    color: var(--cor-fonte-principal);
}

.linkDestacado {
    border-bottom: 4px solid;
}
