@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-escuro: #0B2447;
  --azul-medio: #19376D;
  --azul-claro: #A5D7E8;
  --cor-fonte-principal: #576CBC;
  --cor-fonte-post: #444444;
  --branco: #FFFaFa;
  --fonte-principal: 'Inter', sans-serif;;
  --fonte-secundaria: 'Roboto', sans-serif;

  font-family: var(--fonte-principal);
  font-weight: 300;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
  background-color: var(--azul-medio);
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--azul-medio);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: var(--azul-escuro);
}
